@import "tailwindcss";
* {
  font-family: "Roboto", sans-serif;
}
body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;
}
